* {
  margin:10;
}

.app{
  background-color: #fafafa;
  height: 100vh;
}

.app__header{
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage{
  object-fit: contain;
}

.app__signup{
  display: flex;
  flex-direction: column;
}

.app__posts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px 30px;
}

.app__postsRight {
  margin-left: 10px;
}